#root, html, body {
    height:100vh;
}
body{
    margin: 0;
    background-color:whitesmoke;
    background-image: url("https://cdn.vectorstock.com/i/1000x1000/13/24/purple-robot-floating-vector-42531324.webp");
    background-size: 100%; 
}
*
{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-family: fantasy;
    font-size: 50px;
}